main{
    text-align: center;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
#information
{
    width: 100%;
    background-color: #fff;
}
hr{
    margin: 5%;
	border: 0;
	height: 2px;
    background-image: linear-gradient(to right, rgba(0,86,136,0), rgba(0,86,136,75), rgba(0,86,136,0));
}
h1{
    margin: 5%;
    letter-spacing: 5px;
    font-size: 40px;
    color: #005688;
}
#current{
    color: #005688;
}
p{
    font-size: 26px;
    margin: 0 5% 6% 5%;
    text-align: center;
}
#number{
    display: inline-block;
}
iframe{
    width: 70%;
}

/* Media */

@media (max-width: 935px){
    main{
        min-height: 0;
    }
    #information{
        width: 100%;
    }
    p{
        font-size: 18px;
        max-width: 700px;
        margin-bottom: 10%;
    }
}

@media (max-width: 690px){
    main{
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 35px;
        margin: 10%;
    }
    p{
        font-size: 18px;
        max-width: 700px;
        margin-bottom: 10%;
    }
    hr{
        margin: 20px;
    }
    iframe{
        width: 100%;
    }
}